# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*conection_db.py*
*conf.py*

# System Files
.DS_Store
Thumbs.db

# compiled output
*dist
*tmp
*out-tsc